@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  display: flex;
  font-family: lato;
}

.navigation {
  background-color: #000000;
  width: 71px;
}
.navigation__row {
  margin: -61px 0 0 0;
  position: relative;
}

.item1::before {
  content: "";
  width: 8px;
  height: 8.5px;
  background: url(/img/Navigation/activenav.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 14px;
}

.navplus {
  margin: 200px 0 0 0;
}

.item1 {
  margin: 0 0 0 15px;
}

.channels {
  background-color: #25272a;
  color: #b5b5b5;
  width: 262px;
  box-sizing: border-box;
}
.channels__container {
  margin: 35px 0 0 0;
}
.channels__container_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 0 24.5px;
}
.channels__container_treads {
  margin: 30px 0 30px 25px;
  font-size: 14px;
  line-height: 17px;
}
.channels__container_items {
  margin: 0 0 14px 25px;
}

.channelsnumber {
  margin: 0 0 0 135px;
}

.channel_item {
  margin: 0 0 0 25px;
}

.chen_a {
  display: block;
  width: 213px;
  height: 30px;
  padding: 4px 0 0 13px;
  line-height: 17px;
}

.chen_a:focus {
  background-color: #b5b5b5;
  color: white;
  border-radius: 5px;
}

.friendsnumber {
  margin: 0 0 0 147px;
}

.channels__container_friends {
  margin: 8px 0 22px 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.friends-persons {
  margin: 0 0 0 24px;
}
.friends-persons__person {
  display: flex;
  margin: 10px 0 0 0;
}

.member_icon {
  border-radius: 5px;
}

.person_name {
  margin: 0 0 0 12px;
  align-self: center;
}

.friends-persons__person1::before {
  content: url(/img/channels/dotgreen.svg);
  margin: 9px 9px 0 0;
}

.friends-persons__person2::before {
  content: url(/img/channels/dotgrey.svg);
  margin: 9px 9px 0 0;
}

ul {
  list-style: none;
}

.chen_a {
  color: #b5b5b5;
  margin: 1px 0 0 0;
}

.settingsicon {
  margin: 4px 0 0 77px;
}

.chan_tit_wrapper {
  display: flex;
}

.settingsicon1 {
  margin: 9px 0 0 5px;
}

.dialogic {
  margin: 0 11px 0 0;
}

.main-part {
  width: 870px;
  height: 800px;
}
.main-part__header {
  display: flex;
  margin: 31px 0 0 0;
  border-bottom: 0.5px solid #b5b5b5;
}
.main-part__header_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 3.5px 0 20px 24px;
}

.staricon {
  margin: 8px 0 24.5px 5.5px;
}

.peoplesicon {
  margin: 9px 0 23.5px 341px;
}

.peoplesnumber {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #a4a4a4;
  margin: 7.5px 0 23px 6px;
}

.findform {
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  background: rgba(0, 0, 0, 0.0001);
  width: 241px;
  height: 33px;
  padding: 8px 0 0 16.5px;
  margin: 0 23px 0 24px;
  border-radius: 5px;
}

.findform button {
  background: none;
}

.serchform {
  width: 80%;
}

.bellicon {
  margin: 8.5px 0 22.5px 0;
}
.bellicon_container {
  position: relative;
}

.reddot {
  position: absolute;
  top: 7px;
  right: -2px;
}

.greydot_container {
  display: flex;
  flex-direction: column;
  margin: 8px 0 23px 22.5px;
}

.greydot2 {
  margin: 1.5px 0;
}

.posts__item_messege_person {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  position: relative;
}

.posts__item_message_info {
  display: flex;
}

.posts__item_messege_time {
  font-size: 12px;
  line-height: 14px;
  color: #8d8d8d;
  margin: 0 0 0 8px;
}

.posts__item_messege_text {
  width: 2px 0 0 0;
  position: relative;
}

.twitt {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #3577ef;
  margin: 0 0 12px 0;
}

.posts__item_messege_text {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}

.posts__item_messege_text1 {
  display: flex;
  margin: 0 0 7px 0;
}

.textsmile {
  position: absolute;
}

.message_photo {
  border-radius: 5px;
  margin: 0 0 8px 0px;
}

.text_photo_icon {
  position: absolute;
  z-index: 2;
  width: 45px;
  height: 25px;
  background-color: white;
  left: 296px;
  top: 241px;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 0 0 6px;
}

.posts__item::after {
  content: "";
  border-bottom: 0.5px solid #b5b5b5;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -9px;
}

.posts__item1 {
  display: flex;
  margin: 20px 0 0 23px;
}

.posts__item {
  display: flex;
  margin: 20px 23px 0 23px;
  position: relative;
  z-index: 1;
}
.posts__item_avatar {
  margin: 0 11.5px 0 0;
}
.posts__item_date {
  padding: 0 5px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  background-color: white;
  width: 48px;
  font-size: 13px;
  line-height: 18px;
}
.posts__item_date1 {
  padding: 0 5px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  background-color: white;
  width: 152px;
  font-size: 13px;
  line-height: 18px;
}
.posts__item_date2 {
  padding: 0 5px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  background-color: white;
  width: 73px;
  font-size: 13px;
  line-height: 18px;
}

.footer_secondicon {
  margin: 0 20.5px 0 18.5px;
}
.footer_thirdicon {
  margin: 0 0 0 375px;
}

.main-part__footer_row {
  display: flex;
  text-align: center;
  margin: 26px 0 0 23px;
}

.profile_block__container {
  background-color: #c8c3c3;
  width: 201px;
  height: 100%;
}

.profile_name {
  margin: 15px 0 3.5px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.profile_name::after {
  content: url(/img/channels/dotgreen.svg);
  margin: 0 0 0 5.5px;
}
.profile_position {
  margin: 0 0 20px 19.5px;
  font-size: 12px;
  line-height: 14px;
  color: #5f6164;
}
.profile_username {
  margin: 0 0 2px 21px;
  font-size: 12px;
  line-height: 14px;
  color: #5f6164;
}
.profile_username_item {
  margin: 0 0 11px 20.5px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.profile_email {
  margin: 0 0 2px 21px;
  color: #5f6164;
  line-height: 14px;
}
.profile_email_item {
  margin: 0 0 11.5px 20.5px;
  line-height: 17px;
}
.profile_skype {
  margin: 0 0 2px 20.5px;
  color: #5f6164;
  line-height: 14px;
}
.profile_skype_item {
  margin: 0 0 9px 20px;
  line-height: 17px;
}
.profile_timezone {
  margin: 0 0 2px 20px;
  line-height: 14px;
  color: #5f6164;
}
.profile_timezone_item {
  margin: 0 0 0 20px;
  line-height: 17px;
}
.profile_iconbottom {
  margin: 235.5px 0 28.5px 167.5px;
}
.profile__social_row {
  margin: 0 0 18.5px 19.5px;
}
.profile__buttons {
  display: flex;
  margin: 0 0 14px 19.5px;
}
.profile__button_message {
  width: 133px;
  height: 25px;
  background-color: #3577ef;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 0 0;
}
.profile__button_choose {
  width: 25.5px;
  height: 25px;
  background-color: #3577ef;
  margin: 0 0 0 2.5px;
  border-radius: 5px;
}

.rectangle {
  margin: 9.5px 9px 9.5px 9px;
}